*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.nav{
  background-color: #000000 ;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.rymsite{
  font-size: 2rem;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav li:hover{
  background-color: #79F549;
}
.nav li.active{
  background-color: #15B1C9;
}