*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  background-color: #050505eb;
}

body{
  margin: 0;
}


.contenedor{
  position: relative;
  height: 100vh;
}


.vid-contenedor{
  position: absolute;
  top: 5vh;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.2;
}

